@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --fonte-principal: 'Saira Condensed', sans-serif;
    --cor-branca: #ffffff;

}

body {
    width: 100%;
    background-color: #0a192f;

}

h1 {
    font-family: var(--fonte-titulos);
    font-weight: 700;
    color: var(--cor-branca);
    font-size: 40px;


}

p,
ul, h2, h3 {
    font-family: var(--fonte-principal);
    color: var(--cor-branca);
    font-weight: 400;
    font-size: 20px;

}




